*{
    margin:0;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b0091b;
    color: white;
    text-align: center;
    height: 100px;
 }
 .footerp{
     margin: auto;
     padding: 40px;
 }

 .center{
     text-align: center;
 }
 .footer{
     height: auto;
 }
 .policy{
     padding: 0 20px;
     font-size: small;
 }
 a:link{
     color: gray;
     text-decoration: none;
 }
 a:visited{
     color: gray;text-decoration: none;
 }
 a:hover{
     text-decoration: underline;
 }
 td{
     border-left: solid 1px #ccc;
     border-color: gray;
 }
 td.first{
     border-left: none;
 }